<html>
<head>

</head>
<body>

<div id="components-demo">
  <button-counter></button-counter>

  <blog-post title="a"></blog-post>
  <blog-post title="b"></blog-post>

  <slot-test>test</slot-test>

  <slot-test>hello <br> world</slot-test>
</div>

<div id="demo">
  <button v-on:click="fix()">
    Toggle
  </button>
  <transition name="fade">
    <p v-if="show">hello</p>
  </transition>
</div>

<div id="example-1">
  <button @click="fix()">
    Toggle render
  </button>
  <transition name="slide-fade">
    <p v-if="show">hello</p>
  </transition>
</div>

<div id="example-2">
  <button @click="fix()">Toggle show</button>
  <transition name="bounce">
    <p v-if="show">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris facilisis enim libero, at lacinia diam fermentum id. Pellentesque habitant morbi tristique senectus et netus.</p>
  </transition>
</div>

<div id="example-3">
  <button @click="fix()">
    Toggle render
  </button>
  <transition
    name="custom-classes-transition"
    enter-active-class="animated tada"
    leave-active-class="animated bounceOutRight"
  >
    <p v-if="show">hello</p>
  </transition>
</div>
<link href="https://cdn.jsdelivr.net/npm/animate.css@3.5.1" rel="stylesheet" type="text/css">

<link rel="stylesheet" type="text/css" href="./css/component.css">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
<script src="./js/component.js"></script>
</body>
</html>


