<html>
<head>

</head>
<body>


<div id="app">
  {{ message }}
  {{ message2 }}
</div>

<div id="app-2">
  <!-- この要素のtitle属性をVueインスタンスのmessageプロパティによって更新して保存する-->
  <span v-bind:title="message">
    Hover your mouse over me for a few seconds
    to see my dynamically bound title!
  </span>
</div>

<div id="app-3">
  <span v-if="seen">Now you see me</span>
</div>

<div id="app-4">
    <ol>
      <li v-for="todo in todos">
        {{ todo.text }}
      </li>
    </ol>
</div>

<div id="app-5">
  <p>{{ message }}</p>
  <button v-on:click="reverseMessage">Reverse Message</button>
</div>

<div id="app-6">
  <p>{{ message }}</p>
  <input v-model="message">
</div>

<div id="app-7">
  <ol>
    <todo-item v-for="item in groceryList" v-bind:todo="item"></todo-item>
  

    </ol>
  {{b}} <br>
  {{d}}
  <wei v-for="item2 in iii" v-bind:todo2='item2'></wei>
</div>

<div id='app-8'>
  <!-- same -->
  <span v-text='msg'></span>-----
  <span>{{msg}}</span>
  <div v-if="seen">seen: {{seen}}</div>
  <div v-else> mienai <br>
  {{test}} <br>
  {{test2()}}
  </div>
</div>

<div id="watch-example">
  <p>
    Ask a yes/no question;
    <input v-model="question">
  </p>
  <p>{{ answer }}</p>
  <h1 v-show="ok">Hello!</h1>
</div>

<div id="class-test" class="static" v-bind:class="classObj" v-bind:style="style">
test</div>

<div id='for-test'>
  <ul>
    <li v-for="(item, index) in items">
      {{index}}! name: {{item.name}}, message: {{ item.message }}
    </li>
  </ul>

  <ul>
    <li v-for="(value, key) in object">
      key: {{key}} , value: {{value}}
    </li>
  </ul>
</div>

<div id="example-1">
  <button v-on:click="counter += 1">Add 1</button>
  <button v-on:click="addTwo">Add 2</button>
  <input v-on:keyup.enter="addTwo">test</input>
  <p> The count is : {{ counter}}</p>
</div>

<div id="model-example">

    <input type="checkbox" id="checkbox" v-model="checked">
    <label for="checkbox">{{ checked }}</label>
    <input v-model="message" placeholder="edit me">
    <p> Message is: {{message}}</p>

    <input v-model.lazy="message2" placeholder="edit me">
    <p> Message is: {{message2}}</p>

    <input v-model.lazy.number="message3" placeholder="edit me">
    <p> Message is: {{message3}}</p>
</div>


<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
<script src="./js/test.js"></script>
</body>
</html>


